boto3
Flask==3.0.3
gym
jupyter
jupyterlab
jupyterlab_widgets
keras-nlp==0.9.3
keras-tuner==1.4.7
matplotlib
numpy
pandas
playwright
opencv-python
scikit-learn
seaborn
tensorflow==2.16.1
tensorflow_datasets
# tensorflow-metal # This may not be necessary (it "accelerates training with Metal on Mac GPUs.")
tqdm
