<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eatable</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
            #price {
                font-size: 3em;
                font-weight: bolder;
                text-align: center
            }
        </style>
        <script src="https://kit.fontawesome.com/31706935b7.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Eatable</h1>
                <p></p>
            </div>
            <div class="row">
                <form action="" method="POST">
                    <!-- TODO: File upload/preview-->
                    <div class="mb-3">
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Predict</button>
                    </div>
                </form>
            </div>
            <div class="row text-center d-none" id="loader">
                <i class="fa-solid fa-spinner-third fa-spin fa-10x mb-3"></i>
                <p>Crunching numbers (and chips).</p>
            </div>
            <div class="row text-center d-none" id="results">
                <p id="price">$10 &ndash; $15</p>
                <p>Based on our model, we predict that the submitted dish is <strong id="price-inline">$10 &ndash; $15</strong>.</p>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>
            // Submit form data to API
            document.querySelector('form').addEventListener('submit', async (event) => {
                event.preventDefault();

                // Show loader, hide results
                document.getElementById('loader').classList.remove('d-none');
                document.getElementById('results').classList.add('d-none');

                const formData = new FormData(event.target);
                const response = await fetch('/predict', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json();

                // Get prediction, round to 2 decimal places
                const prediction = Math.round(data.prediction * 100) / 100;

                document.getElementById('price').innerHTML = `$${prediction}`;
                document.getElementById('price-inline').innerHTML = `$${prediction}`;

                // Hide loader and show results
                document.getElementById('loader').classList.add('d-none');
                document.getElementById('results').classList.remove('d-none');
            });
        </script>
    </body>
</html>